.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.timerContainer{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}
.timer-item{
  margin: 10px;
  padding: 22px;
  border:2px solid gray;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
